<div class="container" id="form-id">
  <div class="settings-header">
    <div class="settings-title">
      <h1>Edit My Settings</h1>
  <!-- Ethan substituted "Edit [advocate Name]"  for -->
  <!-- "Edit My Settings" Thought made more sense  -->
  <!--  <h2>Edit <%= resource_name.to_s.humanize %></h2>  -->
    </div>
  </div>

  <div class="row">
    <%= form_for(resource,
                 as: resource_name,
                 url: registration_path(resource_name),
                 html: { method: :put, name: "edit-user"}) do |f| %>

      <%= devise_error_messages! %>

      <div class="settings-form-fields col-lg-5 col-md-6 col-sm-6 col-xs-12">

        <dl>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, :autofocus => true, class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :address %>
          <%= f.text_field :address, class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :apartment %>
          <%= f.text_field :apartment, class: "form-control short-field" %>
        </dl>

        <dl>
          <%= f.label :zip_code %>
          <%= f.text_field :zip_code, class: "form-control short-field" %>
        </dl>

        <dl>
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "form-control short-field" %>
        </dl>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <dl>
            Currently waiting confirmation for: <%= resource.unconfirmed_email %>
          </dl>
        <% end %>

        <dl>
          <label for="user_sensor_codes_string">Sensor code</label> <i class="label-tip">(tenants only)</i>
          <%= f.text_field :sensor_codes_string, class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :current_password %> <i class="label-tip">(required to confirm changes)</i>
          <%= f.password_field :current_password, class: "form-control" %>
        </dl>

        <div>
          <%= f.submit "Update", class: "btn-delete" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
      <%= form_for(resource,
                   as: resource_name,
                   url: registration_path(resource_name),
                   html: { method: :put, name: "delete-user", class: "auxiliary-form" }) do |f| %>
        <h4>No longer want to use this service?</h4>
        <%= button_to "Cancel my account",
                      registration_path(resource_name),
                      class: "btn-delete",
                      data: { confirm: "Are you sure?" },
                      method: :delete %>
      <% end %>
    </div>
  </div>
</div>
