<div class="col-md-4" id="form-id">
  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => users_path) do |f| %>
    <%= devise_error_messages! %>

    <dl><%= f.label :first_name %>:
    <%= f.text_field :first_name, :autofocus => true, class: "form-control" %></dl>

    <dl><%= f.label :last_name %>:
    <%= f.text_field :last_name, class: "form-control" %></dl>

    <dl><%= f.label :address %>:
    <%= f.text_field :address, class: "form-control" %></dl>

    <dl><%= f.label :apartment %>:
    <%= f.text_field :apartment, class: "form-control" %></dl>

    <dl><%= f.label :zip_code %>:
    <%= f.text_field :zip_code, class: "form-control" %></dl>

    <dl><label for="user_sensor_codes_string">Sensor code</label>:
    <%= f.text_field :sensor_codes_string, class: "form-control" %></dl>

    <dl><%= f.label :email %>:
    <%= f.email_field :email, class: "form-control" %></dl>

    <dl><%= f.label :phone_number %>:
    <%= f.text_field :phone_number, class: "form-control" %></dl>

    <dl><%= f.label :password %>:
    <%= f.password_field :password, class: "form-control" %></dl>

    <dl><%= f.label :password_confirmation %>:
    <%= f.password_field :password_confirmation, class: "form-control" %></dl>

    <div><%= f.submit "Sign up", class: "btn btn-primary" %></div>
  <% end %>
</div>
