<div class="article">
  <h3 class="article-title"><a href="<%= article.article_link %>"><%= article.title %></a></h3>
  <p class="source">from <a href="<%= article.company_link %>"><%= article.company %></a> on <%= article.published_date %></p>
  <p class="description"><%= article.description %> <a href="<%= article.article_link %>">Read more</a></p>
</div>
