<div class="bg-blue">
  <div class="container">
    <div class="row">
      <h1 class="styled-header col-md-6">Articles</h1>
      <div class="admin-button-container pull-right">
        <%= link_to new_article_path, class: "admin-button" do %>
            New Article
            <div class="admin-button-icon">+</div>
        <% end %>
      </div>
    </div>
    <div class="table-container">
      <table class="table styled-table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Link</th>
          <th>Company</th>
          <th>Description</th>
          <th>Manage</th>
        </tr>
        </thead>
        <tbody>
        <% @articles.each do |a| %>
            <tr>
              <td><%= link_to a.title, a %></td>
              <td><%= link_to "", a.article_link, class: "fa fa-chain fa-lg" %></td>
              <td><%= link_to a.company, a.company_link %></td>
              <td><%= a.description %></td>
              <td>
                <%= link_to "", edit_article_path(a),
                  class: "fa fa-wrench fa-lg",
                  title: "Edit" %>
                <%= link_to "",
                  a,
                  method: :delete,
                  class: "fa fa-times fa-lg red",
                  data: {
                      confirm: 'You are deleting this article from the database. Are you sure you want to do this? This action cannot be undone.'
                  },
                  title: "Delete Article"
                %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>