<div class="col-xs-12 container" id="search-results">
  <h1 id="collaborator-h1" class="text-center">Results</h1>
  <ul id="collaborator-ul" class="search-results-ul">
    <% @results.each do |r| %>
      <li class="sidebar-li">
        <a href="/users/<%= r.id %>" class="user-link"><%= r.first_name %> <%= r.last_name %></a>
        <p class="address_zip"><%= "#{r.address}, #{r.zip_code}" %></p>
        <%= link_to "",
          user_collaborations_path(@user, collaborator_id: r),
          method: :post,
          class: "fa fa-plus add-user-link add-user-link-from-search",
          title: "Add Tenant"
        %>
        <br>
      </li>
    <% end %>
  </ul>
</div>
