<% content_for :template, "tenant" %>
<div class="header-container">
  <div class="container user-info-desktop">
    <div class="row back-button">
      <% if current_user.advocate_or_more_powerful? %>
        <%= link_to :back do %>
          <i class="fa fa-long-arrow-left"></i> Back
        <% end %>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <h1><%= "#{user.first_name} #{user.last_name}" %></h1>
        <h2><%= "#{user.address}, #{user.zip_code}" %></h2>
        <% if user.apartment.present? %>
            <h2>Apt. <%= user.apartment %></h2>
        <% end %>
        <% if user.phone_number.present? %>
            <h2><%= user.phone_number %></h2>
        <% end %>
      </div>
      <div class="col-xs-6 text-right">
        <div class="download-container text-center">
          <div class="download-label">
            Download Report
          </div>
          <% if user.readings.count > 0 %>
            <div class="download-buttons">
              <%= link_to 'CSV (all data)', csv_download_path(user), class: "btn btn-primary btn-download" %>
              <% user.available_pdf_reports.each do |years| %>
                <br>
                <%= link_to "PDF #{years[0]} - #{years[1]}", pdf_download_path(user, years: years), class: "btn btn-primary btn-download" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-blue">
  <div class="show-layout container">
    <div class="row">
      <div class="show-top col-xs-12">
        <div class="user-info user-info-mobile">
          <div class="row">
            <div class="col-xs-2 back-button-mobile">
              <% if current_user.permissions <= 50 %>
                  <%= link_to "", :back, :class => "fa fa-chevron-left" %>
              <% end %>
            </div>
            <div class="col-xs-8">
              <h3><%= "#{user.first_name} #{user.last_name}" %></h3>
              <h4 class="address"><%= "#{user.address}, #{user.zip_code}" %></h4>
              <% if user.apartment.present? %>
                  <h4>Apt. <%= user.apartment %></h4>
              <% end %>
              <% if user.phone_number.present? %>
                  <h4><%= user.phone_number %></h4>
              <% end %>
            </div>
            <div class="col-xs-2"></div>
          </div>
          <div class="upper-bar clearfix">
            <div class="download-container">
              <div class="download-label">
                Download Report
              </div>
              <div class="download-buttons">
                <%= link_to 'CSV', csv_download_path(user), class: "btn btn-primary btn-download" %>
                <%= link_to 'PDF', pdf_download_path(user), class: "btn btn-primary btn-download" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-lg-3"></div>
        <div class="current-temp col-xs-12 col-sm-6 col-md-3 col-lg-2">
          <h3 class="stat-num temp-num"><%= user.current_temp_string %></h3>
          <h5 class="stat-description">Indoor temperature</h5>
        </div>

        <div class="col-md-2"></div>
        <div class="violations col-xs-12 col-sm-6 col-md-3 col-lg-2">
          <h3 class="stat-num"><%= user.readings.this_year.in_violation.count %></h3>
          <h5 class="stat-description">Hours of violation</h5>
          <h5 class="stat-description violation-label"><%= user.first_reading_this_year("(since %m/%d/%y)") %></h5>
        </div>
      </div>
    </div>
    <% if user.last_weeks_readings.any? %>
      <div class="row show-bottom chart-title">
        <h3 class="text-center">Indoor and outdoor temperatures (last 7 days)</h3>
      </div>
      <div class="row">
        <div class="show-bottom col-xs-12">
          <%= render "users/line_graph", :user => user %>
        </div>
      </div>
    <% else %>
      <div class="row show-bottom chart-title">
        <h3 class="text-center">No Indoor Temperature Readings This Week</h3>
      </div>
    <% end %>
  </div>
</div>
