<div id="table">
  <div class="table-border-fix">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Daytime</th>
          <th>Nighttime</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Highest</td>
          <td><%= user.max_night_temp %></td>
          <td><%= user.max_day_temp %></td>
        </tr>
        <tr>
          <td>Average</td>
          <td><%= user.avg_night_temp %></td>
          <td><%= user.avg_day_temp %></td>
        </tr>
        <tr>
          <td>Lowest</td>
          <td><%= user.min_day_temp %></td>
          <td><%= user.min_night_temp %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
