<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= stylesheet_link_tag wicked_pdf_asset_base64("pdf_styles") -%>
  </head>
  <body>
    <div class="cover-page">
      <div>Tenant: <%= @writer.user.name %></div>
      <div><%= "Address: #{@writer.user.address}#{@writer.unit}, #{@writer.user.zip_code}" %></div>
      <div>Phone Number: <%= @writer.user.phone_number %></div>

      <% if @writer.readings_count > 0 %>
        <div><%= "Begin: #{@writer.readings.order(:created_at, :id).first.created_at.strftime("%b %d, %Y%l:%M %p")}" %></div>
        <div><%= "End: #{@writer.readings.order(created_at: :desc, id: :desc).first.created_at.strftime("%b %d, %Y%l:%M %p")}" %></div>
      <% end %>

      <div>Total Temperature Readings: <%= @writer.readings_count  %></div>
      <div>Total Temperature Readings in which a violation is possible: <%= @writer.readings_where_violation_is_possible_count %></div>
      <div>Total Violations: <%= @writer.violation_count  %></div>
      <div>Percentage: <%= (@writer.violation_count.to_f / @writer.readings_where_violation_is_possible_count.to_f * 100).round(1) %>%</div>
    </div>

    <div class="alwaysbreak"></div>

    <div class="tenant-name">Tenant: <%= @writer.user.name %></div>

    <div class="heat-law">
      <strong>THE LAW</strong> requires your landlord provide heat and hot water at the following levels
      from October 1 through May 31:
      <ul>
        <li>From 6am to 10pm: If the outside temperature falls below 55 degrees, the inside temperature must be at least 68 degrees everywhere in your apartment.</li>
        <li>From 10pm to 6am: The inside temperature must be at least 62 degrees everywhere in your apartment, regardless of the outside temperature.</li>
        <li>Hot water at a minimum 120 degrees at the tap must be provided 24 hours a day, year round.</li>
      </ul>
    </div>

    <table class="readings-table">
      <tr>
        <th>TIME</th>
        <th>DATE</th>
        <th>TEMP INSIDE</th>
        <th>TEMP OUTSIDE</th>
        <th>TEMP OF HOT WATER</th>
        <th>NOTES</th>
      </tr>
      <% @writer.table_array.each do |row| %>
        <tr>
          <% row.each do |cell| %>
            <td><%= cell %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </body>
</html>
