<div class="col-md-4" id="form-id">
  <h2>Edit <%= @user.first_name %></h2>

  <%= form_for(@user) do |f| %>
    <dl><%= f.label :first_name %>:
    <%= f.text_field :first_name, :autofocus => true, class: "form-control" %></dl>

    <dl><%= f.label :last_name %>:
    <%= f.text_field :last_name, class: "form-control" %></dl>

    <dl><%= f.label :address %>:
    <%= f.text_field :address, class: "form-control" %></dl>

    <dl><%= f.label :zip_code %>:
    <%= f.text_field :zip_code, class: "form-control" %></dl>

    <dl><%= f.label :twine_by_name %>:
    <%= f.text_field :twine_by_name, class: "form-control" %></dl>
    
    <% if @user.permissions > 0 %>
      <dl><%= f.label :permissions %>:
      <%= f.select :permissions, User::PERMISSIONS, class: "form-control" %></dl>
    <% end %>

    <div><%= f.submit "Update", class: "btn btn-primary" %></div>
  <% end %>
</div>
