<div class="container" id="form-id">
  <div class="settings-header">
    <div class="settings-title">
      <h1>Change My Password</h1>
    </div>
  </div>

  <div class="row">
    <%= form_for(@user, url: { action: "update_password" }) do |f| %>

      <%= devise_error_messages! %>

      <div class="settings-form-fields col-lg-5 col-md-6 col-sm-6 col-xs-12">
        <dl>
          <%= f.label :current_password %> <i class="label-tip">(required to confirm changes)</i>
          <%= f.password_field :current_password, class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </dl>

        <dl>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </dl>

        <div>
          <%= f.submit "Update", class: "btn-save" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
