<% content_for :template, "tenant" %>
<div class="header-container">
  <div class="container">
    <div class="row back-button">
      <a href="javascript:history.back()">
        <i class="fa fa-long-arrow-left"></i> Back
      </a>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h1 class="styled-header">Edit <%= "#{@user.first_name} #{@user.last_name}" %>'s Settings </h1>
      </div>
    </div>
  </div>
</div>

<div class="bg-blue">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="settings-form-fields" id="form-id">
          <br/>

          <div id="form-id">
            <%= form_for(@user) do |f| %>
              <dl class="settings-input"><%= f.label :first_name %>
              <%= f.text_field :first_name, :autofocus => true, class: "form-control" %></dl>

              <dl class="settings-input"><%= f.label :last_name %>
              <%= f.text_field :last_name, class: "form-control" %></dl>

              <dl class="settings-input"><%= f.label :apartment %>
              <%= f.text_field :apartment, class: "form-control short-field" %></dl>
              <div>
                <p>Street Address Style Guide:</p>
                <ul>
                  <li>Use abbreviations with no punctuation.</li>
                  <li>For example 123 South Waverley Place should be 123 S Waverley Pl</li>
                  <li>Don't include apartment number, city, or state in the address field</li>
                </ul>
              </div>
              <dl class="settings-input"><%= f.label :address %>
              <%= f.text_field :address, class: "form-control" %></dl>

              <dl class="settings-input"><%= f.label :zip_code %>
              <%= f.text_field :zip_code, class: "form-control short-field" %></dl>

              <dl class="settings-input"><%= f.label :phone_number %>
              <%= f.text_field :phone_number, class: "form-control short-field" %></dl>

              <dl class="settings-input"><%= f.label :twine_name %>
              <%= f.text_field :twine_name, class: "form-control" %></dl>

              <% if @user.permissions > 0 && !@user.is_demo_user? %>
                <dl class="settings-input settings-permissions"><%= f.label :permissions %>
                  <%= f.select :permissions,
                               current_user.list_permission_level_and_lower,
                               class: "form-control" %>
                </dl>
                <dl class="settings-input">
                <%= f.submit "SAVE", class: "btn-save" %></dl>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
