<% content_for :template, 'lawyer' %>
<div class="advocate-layout clearfix">
  <div class="container">
    <div class="col-xs-12 container" id="permissions-show-div">
      <div class="search-box clearfix"> 
          <%= form_tag search_user_path, method: :get, id: "search-form", remote: true do %> 
            <div class="clearfix" id="advocate-bar">
              <h3>Hello, <%= current_user.first_name %>!</h3>
              <% if (current_user.permissions === 0) %>
                <div class="search-form">
                  <button id="search-button"><i class="fa fa-search"></i><span class="advocate-button">Search</span></button>
                  <%= text_field_tag :q, "", :class => "form-control", placeholder: "Find a tenant..." %>
                </div>
              <% end %>
            </div>
            <% if current_user.is_demo_user? %>
              <p><%= "The Demo Lawyer cannot access data for actual users, and changes are automatically reset." %></p>
            <% end %>

          <% end %>
      </div>
    <br>
    <div id="append-collaborations"></div>

    <%= render_collaborators_for(current_user) %>

    </div>
  </div>
</div>
