<% content_for :template, 'lawyer' %>
<div class="advocate-layout clearfix">
  <div class="container">
    <div class="col-xs-12 container" id="permissions-show-div">
      <h3>Hello, <%= @user.first_name %>!</h3>
      <% if @user.super_user? %>
        <div class="admin-button-container">
          <%= link_to "All Users", users_path, class: "admin-button" %>
        </div>
        <div class="admin-button-container">
          <%= link_to "Create New User", new_user_path, class: "admin-button" %>
        </div>
        <div class="search-box clearfix">
          <%= form_tag search_user_path, method: :get, id: "search-form", remote: true do %>
            <div class="clearfix" id="advocate-bar">
              <div class="search-form">
                <button class="admin-button" id="search-button"><i class="fa fa-search"></i><span class="advocate-button">Search</span></button>
                <%= text_field_tag :q, "", :class => "form-control", placeholder: "Find a tenant..." %>
              </div>
            </div>
            <% if current_user.is_demo_user? %>
              <p><%= "The Demo Lawyer cannot access data for actual users, and changes are automatically reset." %></p>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <br>
    <div id="append-violations">
      <%= render "violation_report" %>
    </div>
    </div>
  </div>
</div>
