<div class="show-layout">
  <h3>Hello <%= current_user.first_name %></h3>
  <div class="col-xs-12 container" id="permissions-show-div">
    <div class="search-box"> 
        <%= form_tag search_user_path, method: :get, id: "search-form", remote: true do %> 
          <dl>
            <%= label_tag :q, "Find a User" %>
            <br>
            <%= "The Demo Lawyer can only add other demo accounts." if current_user.is_demo_user? %>
            <%= text_field_tag :q, "", :class => "form-control", autofocus: true %>
            <%= submit_tag "Search", :class => "btn btn-lg btn-primary", id: "search-button" %>
          </dl>
        <% end %>
    </div>
  <br>
  <div id="append-collaborations"></div>

  <%= render_collaborators_for(current_user) %>

  </div>
</div>