<div class="col-md-4" id="form-id">
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>
    <%= f.hidden_field :reset_password_token %>

    <dl><%= f.label :password, "New password" %>
    <%= f.password_field :password, :autofocus => true, class: "form-control" %></dl>

    <dl><%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, class: "form-control" %></dl>

    <div><%= f.submit "Change my password", class: "btn btn-primary" %></div>
  <% end %>

</div>
