<div class="container">
  <div class="col-xs-12 core-team">
    <center><h2 class="core-team-title">Core Team</h2></center>
  </div>
</div>

<!--Team Bios-->
<div class="container">

  <!--Brendan-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="brendan-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Brendan Crowley</h3>
      <h4 class="job_bios">Intern</h4>
      <p class="social_bios">Brendan is a Senior at Georgetown University studying Political Economy and Business Administration. His interest in social justice, urban development, and the law, led him to an internship with Heat Seek. He hopes to continue advocating for the underserved after he graduates.</p>

      <a href="mailto:brendan@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
      <a href="https://twitter.com/bcrowls"><%= fa_icon 'twitter 2x' %></a>
      <a href="https://www.linkedin.com/pub/brendan-crowley/98/521/7a0"><%= fa_icon 'linkedin 2x' %></a>
    </div>

  <!--Harold-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="harold-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Harold Cooper</h3>
      <h4 class="job_bios">Hardware Engineering</h4>
      <p class="social_bios">Harold studied mathematics, computer science, and electrical engineering at MIT before coming to New York. He now works at Ringly, building software that talks to smart jewelry. He used to build guitar pedals as a hobby, but is now using those skills for civic good instead of musical evil, building Heat Seek's sensor systems.</p>

      <a href="mailto:harold@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
      <a href="https://twitter.com/hrldcpr"><%= fa_icon 'twitter 2x' %></a>
    </div>

  <!--Jesse-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="jesse-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Jesse Fish</h3>
      <h4 class="job_bios">Data Science</h4>
      <p class="social_bios">Jesse is a data scientist and software engineer who has worked for a number of tech startups in both New York City and Boston. A native of Maine, he received his bachelor's degree in Computer Science while studying in Canada and believes that organizations and companies like Heat Seek NYC can make a profound and positive impact on our world through the use of innovative technology and data analysis. He is strongly committed to Heat Seek's mission and excited to be part of a brilliant and passionate team.</p>

      <a href="mailto:jesse@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
      <a href="https://twitter.com/jesse_fish"><%= fa_icon 'twitter 2x' %></a>
    </div>

  <!--Noelle-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="noelle-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Noelle Francois</h3>
      <h4 class="job_bios">Executive Director</h4>
      <p class="social_bios">Noelle is a graduate student at NYU Wagner School where she studies non-profit management. She has been working in the non-profit sector for years and has a background in social justice. </p>

      <a href="mailto:noelle@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
      <a href="https://twitter.com/Noelle_Francois"><%= fa_icon 'twitter 2x' %></a>
      <a href="https://www.linkedin.com/in/noellefrancois"><%= fa_icon 'linkedin 2x' %></a>

    </div>

  <!--Emily-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="emily-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Emily Fuhrman</h3>
      <h4 class="job_bios">Data Visualization</h4>
      <p class="social_bios">Emily is a freelance data visualizer based in Brooklyn, New York.</p>

        <a href="mailto:emily@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/xxzvx"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/efuhrman"><%= fa_icon 'linkedin 2x' %></a>

    </div>

  <!--Tom-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="tom-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Tom Hunter</h3>
      <h4 class="job_bios">Marketing & Business Development</h4>
      <p class="social_bios">Tom has an eclectic background ranging from hedge fund analyst to parade mascot. He joins Heat Seek NYC to help further our mission of keeping the heat on in NYC and to help pioneer the algorithmic advocacy movement.</p>

        <a href="mailto:tom@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/ThomasSHunter"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/thomasshunter"><%= fa_icon 'linkedin 2x' %></a>

    </div>

  <!--William-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="william-pic"></div>
      <!--bio-->
      <h3 class="name_bios">William Jeffries</h3>
      <h4 class="job_bios">Full Stack Engineering</h4>
      <p class="social_bios">William is a web developer with a passion for social justice.  He's a rubyist, a yogi, and a super friendly person. He has been on the project since the beginning and is always ready to answer technical questions from any area of the project, or just about why it is such important work.</p>

      <a href="mailto:william@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
      <a href="https://twitter.com/williamcodes"><%= fa_icon 'twitter 2x' %></a>
      <a href="https://www.linkedin.com/in/williamjeffries"><%= fa_icon 'linkedin 2x' %></a>
    </div>

  <!--Doyun-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="doyun-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Doyun Kim</h3>
      <h4 class="job_bios">Circuit Design</h4>
      <p class="social_bios">Doyun is a graduate student at Columbia University. He's doing research on low power digital circuits. He is cheating on his research with heat seek nyc team, contributing to the hardware design. :) He is also interested in embedded systems, mobile app development and anything creative.</p>

      <a href="mailto:doyun@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
      <a href="https://www.linkedin.com/in/doyunkm"><%= fa_icon 'linkedin 2x' %></a>
    </div>

  <!--Daniel-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="daniel-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Daniel Kronovet</h3>
      <h4 class="job_bios">Industrial Design</h4>
      <p class="social_bios">A classmate of Tristan and William's at the Flatiron School, Daniel joined up as the Hardware Lead shortly after the founders decided to take the project to the BigApps. Currently a software engineer at ParagonMeasure, Daniel is excited about helping build the sensor network which drives Heat Seek.</p>

        <a href="mailto:daniel@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/kronosapiens"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/dkronovet"><%= fa_icon 'linkedin 2x' %></a>

    </div>

  <!--Rachel-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="rachel-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Rachel Pick</h3>
      <h4 class="job_bios">Social Media</h4>
      <p class="social_bios">Rachel is a samurai without a master, a freelance jack-of-all-trades with an interest in further pursuing digital and social media marketing. She is incredibly excited to join such a smart and talented group of people and help augment their social media reach.</p>

        <a href="mailto:rachel@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://www.linkedin.com/in/rachelwpick"><%= fa_icon 'linkedin 2x' %></a>
    </div>

  <!--Tristan-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="tristan-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Tristan Siegel</h3>
      <h4 class="job_bios">Full Stack Engineering</h4>
      <p class="social_bios">From the project's beginning Tristan's been in charge of user experience as well as sharing back-end developing duties with William. He has been with the project since its inception at the Flatiron School, and got the project its first user.</p>

        <a href="mailto:tristan@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/ttsiege"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/tristantsiegel"><%= fa_icon 'linkedin 2x' %></a>

    </div>

  <!--Bryan-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="bryan-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Bryan Sim</h3>
      <h4 class="job_bios">Data Science</h4>
      <p class="social_bios">Bryan is a social psychology graduate student at NYU. He is a fan of open science, works in Python and R, plays the guitar, and likes broccoli. His goal is to help people make better decisions using data, and he thinks Ruby is the cutest programming language. In his free time, he asks people on the internet stupid questions like <a href="http://buildingakillerrobot.com/dinosaurs.png">whether dinosaurs have souls.</p>

        <a href="mailto:bryan@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/ohgodscience"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/bryansim"><%= fa_icon 'linkedin 2x' %></a>

    </div>

</div> <!--End of Team Bios-->

<%= render 'contributors' %>
<%#= render 'advisors' %>

