<div class="team-bio">
  <div class="col-xs-12">
    <h2>Core Team</h2>
  </div>
  <div class="col-xs-12"><hr></div>
  <div class="col-sm-3">
    <%= image_tag "tristan.jpg" %>
    <h3>Tristan Siegel</h3>
    <h4>User Experience Lead</h4>
    <p>From the project's beginning Tristan's been in charge of user experience as well as sharing back-end developing duties with Heat Seek's other co-founder, William.</p>
    <a href="mailto:tristan@heatseeknyc.com"><i class="fa fa-envelope"></i></a>
    <a href="https://twitter.com/ttsiege"><i class="fa fa-twitter"></i></a>
    <a href="http://www.linkedin.com/in/tristantsiegel"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="col-sm-3">
    <%= image_tag "william.jpg" %>
    <h3>William Jeffries</h3>
    <h4>Back-End Lead</h4>
    <p>William is a web developer with a passion for social justice. He's a rubyist, a yogi, and a super friendly person. He has been on the project since the beginning and is always ready to answer technical questions from any area of the project, or just talk about why it's such important work.</p>
  </div>
  <div class="col-sm-3">
    <%= image_tag "andrea.jpg" %>
    <h3>Andrea Acevedo</h3>
    <h4>Design Lead</h4>
    <p>Andrea comes from the public service design world working previously at the City of Boston branding SMEs and initiatives and more recently at Participle where she designed new services that tackled social issues in the UK. She was fortunate to stumble upon Heat Seek’s co-founders at the Big Apps launch and will be working on the design of the app and helping out on the UX.</p>
  </div>
  <div class="col-sm-3">
    <%= image_tag "ethan.jpg" %>
    <h3>Ethan Ozelius</h3>
    <h4>Front-End Lead</h4>
    <p>As Lead Front-End Developer, Ethan is working with a great team rebuilding Heat Seek NYC to efficiently serve all users. Ethan will be working with the design team to turn ideas into code.</p>
  </div>
  <div class="col-sm-3">
    <%= image_tag "daniel.jpg" %>
    <h3>Daniel Kronovet</h3>
    <h4>Hardware Lead</h4>
    <p>A classmate of Tristan and William's at the Flatiron School, Daniel joined up as the Hardware Lead shortly after they decided to take the project to BigApps. Currently a software engineer at ParagonMeasure, a health technology startup, Daniel is excited about helping improve the sensor system which drives Heat Seek.</p>
  </div>
  <div class="col-sm-3">
    <%= image_tag "jarryd.jpg" %>
    <h3>Jarryd Hammel</h3>
    <h4>Business Development Lead</h4>
    <p>Jarryd comes to Heat Seek NYC with several years of experience as a corporate finance advisor. He is currently pursuing his MBA at the Wharton Scool. As Business Dev lead, Jarryd is focused on refining Heat Seek NYC's message and building the community and organizational ties we need to maximize our social impact.</p>
  </div>
  <div class="col-xs-12">
    <h2>Contributors</h2>
  </div>
  <div class="col-xs-12"><hr></div>
  <% 3.times do %>
    <div class="col-xs-12 col-sm-3 team-bio">
      <%= image_tag "tristan.jpg" %>
      <h3>Name!</h3>
      <h4>Role!</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet, nulla eu vulputate mattis, ipsum dolor cursus nulla, laoreet laoreet dui nisi et arcu. Suspendisse potenti. Vestibulum magna nunc, blandit ac dui vitae, luctus blandit augue. Donec mattis, mauris nec congue mattis, orci arcu venenatis mi, ut auctor tellus felis vel ante. Pellentesque pulvinar id ipsum et dignissim. Duis euismod augue quis nisl pulvinar facilisis. Suspendisse lobortis sapien a diam viverra aliquam. Cras vel nunc diam. In rutrum nulla ac erat eleifend, vel tincidunt sem pulvinar. Quisque eget massa sit amet ligula tempus elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  <% end %>
  <div class="col-xs-12">
    <h2>Advisors</h2>
  </div>
  <div class="col-xs-12"><hr></div>
  <% 3.times do %>
    <div class="col-xs-12 col-sm-3 team-bio">
      <%= image_tag "tristan.jpg" %>
      <h3>Name!</h3>
      <h4>Role!</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce imperdiet, nulla eu vulputate mattis, ipsum dolor cursus nulla, laoreet laoreet dui nisi et arcu. Suspendisse potenti. Vestibulum magna nunc, blandit ac dui vitae, luctus blandit augue. Donec mattis, mauris nec congue mattis, orci arcu venenatis mi, ut auctor tellus felis vel ante. Pellentesque pulvinar id ipsum et dignissim. Duis euismod augue quis nisl pulvinar facilisis. Suspendisse lobortis sapien a diam viverra aliquam. Cras vel nunc diam. In rutrum nulla ac erat eleifend, vel tincidunt sem pulvinar. Quisque eget massa sit amet ligula tempus elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  <% end %>
</div>
