<div class="container">
  <div class="col-xs-12 core-team">
    <center><h2 class="core-team-title">CORE TEAM</h2></center>
  </div>
</div>
  
<!--Team Bios-->
<div class="container">

  <!--Andrea-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="andrea-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Andrea Acevedo</h3>
      <h4 class="job_bios">Design Lead</h4>
      <p class="social_bios">Andrea comes from the public service design world working previously at the City of Boston branding SMEs and initiatives and more recently at Participle where she designed new services that tackled social issues in the UK. She was fortunate to stumble upon Heat Seek’s co-founders at the Big Apps launch and will be working on the design of the app and helping out on the UX.</p>
      
        <a href="mailto:andrea@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/a_s_acevedo"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/andreaacevedo"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>    
    
    
  <!--Harold-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="harold-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Harold Cooper</h3>
      <h4 class="job_bios">Hardware Engineer</h4>
      <p class="social_bios">Harold studied mathematics, computer science, and electrical engineering before becoming a software engineer in New York. He now works at Ringly, building software that talks to smart jewelry. He used to build guitar pedals as a hobby, but is now using those skills for civic good instead of musical evil, building Heat Seek's sensor systems.</p>
      
        <a href="mailto:harold@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/hrldcpr"><%= fa_icon 'twitter 2x' %></a>
      
    </div>    
    
    
  <!--Noelle-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="noelle-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Noelle Francois</h3>
      <h4 class="job_bios">Community Outreach Lead</h4>
      <p class="social_bios">Noelle is a graduate student at NYU Wagner School where she studies non-profit management. She has been working in the non-profit sector for years and has a background in social justice. </p>
      
        <a href="mailto:noelle@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/Noelle_Francois"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/noellefrancois"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>    
    
    
  <!--Jarryd-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="jarryd-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Jarryd Hammel</h3>
      <h4 class="job_bios">Business Development Lead</h4>
      <p class="social_bios">Jarryd comes to Heat Seek NYC with several years of experience as a corporate finance advisor.  He is currently pursuing his MBA at the Wharton School.  As Biz Dev Lead, Jarryd is focused on refining Heat Seek NYC's message and building the community and organizational ties we need to maximize our social impact.</p>
      
        <a href="mailto:jarryd@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/jarrydhammel"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/jarrydhammel"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>  
  
  
  <!--Tom-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="tom-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Tom Hunter</h3>
      <h4 class="job_bios">Marketing Lead</h4>
      <p class="social_bios">Tom has an eclectic background ranging from hedge fund analyst to parade mascot. He joins Heat Seek NYC to help further our mission of keeping the heat on in NYC and to help pioneer the algorithmic advocacy movement.</p>
      
        <a href="mailto:tom@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://www.linkedin.com/in/thomasshunter"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>
  

  <!--William-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="william-pic"></div>
      <!--bio-->
      <h3 class="name_bios">William Jeffries</h3>
      <h4 class="job_bios">Back-End Lead</h4>
      <p class="social_bios">William is a web developer with a passion for social justice.  He's a rubyist, a yogi, and a super friendly person. He has been on the project since the beginning and is always ready to answer technical questions from any area of the project, or just about why its such important work.  </p>
      
        <a href="mailto:william@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/williamcodes"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/williamjeffries"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>

  <!--Daniel-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="daniel-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Daniel Kronovet</h3>
      <h4 class="job_bios">Industrial Designer</h4>
      <p class="social_bios">A classmate of Tristan and William's at the Flatiron School, Daniel joined up as the Hardware Lead shortly after the founders decided to take the project to the BigApps. Currently a software engineer at ParagonMeasure, Daniel is excited about helping build the sensor network which drives Heat Seek.</p>
      
        <a href="mailto:daniel@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/kronosapiens"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/dkronovet"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>  
    
    
  <!--Ethan-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="ethan-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Ethan Ozelius</h3>
      <h4 class="job_bios">Front-End Lead</h4>
      <p class="social_bios">As Lead Front-end developer, Ethan works with a great team of designers and developers, to build an efficient website for all users.</p>         
      
        <a href="mailto:tom@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="http://www.linkedin.com/pub/ethan-ozelius/96/4b6/688"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>
  
    
  <!--Tristan-->
    <div class="core-team-member col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="tristan-pic"></div>
      <!--bio-->
      <h3 class="name_bios">Tristan Siegel</h3>
      <h4 class="job_bios">UX Lead</h4>
      <p class="social_bios">From the project's beginning Tristan's been in charge of user experience as well as sharing back-end developing duties with Heat Seek's other co-founder, William.</p>
      
        <a href="mailto:tristan@heatseeknyc.com"><%= fa_icon 'envelope 2x' %></a>
        <a href="https://twitter.com/ttsiege"><%= fa_icon 'twitter 2x' %></a>
        <a href="https://www.linkedin.com/in/tristantsiegel"><%= fa_icon 'linkedin 2x' %></a>
      
    </div>
    
   
</div> <!--End of Team Bios-->

<%= render 'contributors' %>
<%#= render 'advisors' %>

