<%= form_for(@sensor) do |f| %>
  <% if @sensor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor.errors.count, "error") %> prohibited this sensor from being saved:</h2>
      <ul>
        <% @sensor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-fields">
    <div class="field">
      <%= f.label :name, "Sensor Serial Number" %><br>
      <%= f.text_field :name, class: "form-control", disabled: @sensor.persisted? %>
    </div>
    <div class="field">
      <%= f.label :nick_name, "Sensor Short Code" %><br>
      <%= f.text_field :nick_name, class: "form-control", disabled: @sensor.persisted? %>
    </div>
    <div class="field">
      <label for="sensor_email">Associated User</label><br>
      <% select_values = User.all.order("LOWER(last_name)").map {|u| [ u.name_and_email, u.id ] } %>
      <%= f.select :user_id, select_values, { include_blank: true }, class: "styled-select" %>
    </div>
    <div class="actions">
      <%= f.submit action_label, class: "btn-save" %>
    </div>
  </div>
<% end %>
