<h1 class="styled-header">Listing sensors</h1>

<div class="col-xs-4">


<div class="admin-button-container">
  <%= link_to new_sensor_path, class: "admin-button" do %>
      New Sensor
      <div class="admin-button-icon">+</div>
  <% end %>
</div>

  <% @sensors.each do |sensor| %>
    <div class="row">
      <div class="col-xs-12">Sensor: <%= sensor.name %></div>
      <div class="col-xs-12">User: <%= sensor.user ? sensor.user.email : "unassigned" %></div>
      <div class="col-xs-12"><%= link_to 'Show', sensor %></div>
      <div class="col-xs-12"><%= link_to 'Edit', edit_sensor_path(sensor) %></div>
      <div class="col-xs-12"><%= link_to 'Destroy', sensor, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
    <br>
  <% end %>
</div>

