<div class="bg-blue">
  <div class="container">
    <div class="row">
      <h1 class="styled-header col-md-6">Buildings</h1>
      <div class="admin-button-container pull-right">
        <%= link_to new_admin_building_path, class: "admin-button" do %>
            Add Building
            <div class="admin-button-icon">+</div>
        <% end %>
      </div>
    </div>

    <div class="table-container">
      <table class="table styled-table">
        <thead>
          <tr>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>BBL</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        <% @buildings.each do |b| %>
        <tr>
          <td><%= [b.property_name, b.street_address].join(" ") %></td>
          <td><%= b.city %></td>
          <td><%= b.state %></td>
          <td><%= b.zip_code %></td>
          <td><%= b.bbl %></td>
          <td>
            <%= link_to "", edit_admin_building_path(b),
                        class: "fa fa-wrench fa-lg",
                        title: "Edit" %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>