<div class="show-layout">

  <h3><%= @user.first_name %>'s Page</h3>
  <h5>Your last reading was <%= @user.most_recent_temp %> degrees</h5>

  <div class="graph" id="bar">
    <%= column_chart(@user.bars) %>
  </div>

  <%= render "users/table", :user => @user %>

  <div class="graph" id="line">
    <%= line_chart(@user.lines, min: 50, max: 80, :library => {
    legend: {position: 'bottom'},
    curveType: 'none',
      explorer: {keepInBounds: true, axis: 'horizontal'}
    }) %>
    <%= link_to 'Download PDF', pdf_download_path(@user) %>
  </div>

</div>