<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= favicon_link_tag "favicon.ico" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//www.google.com/jsapi"></script>
    
    <!-- D3JS -->
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8" type="text/javascript"></script>

    <!-- New fonts -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic|Oswald:700' rel='stylesheet' type='text/css'>
    
    <title><%= content_for?(:title) ? yield(:title) : "Heat Seek NYC" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Helping keep the heat on this winter." %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    
    <%= analytics_init if Rails.env.production? %>
  </head>


  <body class="body <%= yield(:template) %>">
    <header>
      <%= render 'layouts/navbar' %>
    </header>
    <main role="main">
      <%= render 'layouts/messages' %>
      
      <%= yield %>


    </main>

    <footer class="col-xs-12">&copy; Heat Seek NYC</footer>
    
    
  </body>
</html>









